<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flukta&#45; upload form&#45;</title> 
</head>
<body>
	
	<header>
	<h1>Upload file</h1>
	</header>
	
	<div>
		<span th:if="${message != NULL}" th:text="${message}"></span>
	</div>
	
	<div>
		<h2>Directory contents:</h2>
		<ol>
			<li th:each="file : ${files}" th:text="${file}"></li>
		</ol>
	
	</div>	
	
	
		<form action="/upload" enctype="multipart/form-data" method="POST">
			<div>
				<div>
					<div>Filename</div>
					<input type="file" name="file" placeholder="/tmp/file.png" required />
				</div>
		
				<br/>
				<button type="submit" class="button">Submit</button>
			</div>
		</form>
		
		
		</body>
</html>
